@model LMS.WebFrontend.Models.ViewModels.LoginVM
@{
    ViewData["Title"] = "Index";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <h1>Login library</h1>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Login to start your session</p>

                <form action="LoginCheck" method="post">
                    <div class="input-group mb-3">
                        <input type="email" id="username" name="Username" class="form-control" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="password" name="Password" class="form-control" placeholder="Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </form>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>