<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS.WebFrontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/LMS.WebFrontend.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link href="~/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/adminlte.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LMS.WebFrontend</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Member</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LMS.WebFrontend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/adminlte.min.js"></script>
   
    <script>
        $(document).ready(function () {
            $('#booksTable').DataTable({
                "pageLength": 10,
                "autoWidth": false
            });

            $('#booksTable').on('click', '.borrow-btn', function () {
                var bookId = $(this).data('id');
                var isAvailable = $(this).data('value');

                if (isAvailable === 'Y') {
                    $.ajax({
                        url: '/books/BorrowBook',
                        type: 'POST',
                        data: { id: bookId },
                        success: function (response) {
                            window.location.reload();
                            alert('Book borrowed successfully!');
                        },
                        error: function () {
                            alert('Error performing the action.');
                        }
                    });
                } else {
                    alert('Book is not available.');
                }
            });

            $('#booksTable').on('click', '.return-btn', function () {
                var bookId = $(this).data('id');

                $.ajax({
                    url: '/books/ReturnBook',
                    type: 'POST',
                    data: { id: bookId },
                    success: function (response) {
                        if (response.res == '0') {
                            window.location.reload();
                            alert('Book returned successfully!');
                        }
                        else {
                            alert('Book not borrowed!');
                        }
                    },
                    error: function () {
                        alert('Something went wrong');
                    }
                });
            });
        });

       
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


                             @* function handleResponse(response, message) {
            window.location.reload();
            alert(message);
        } *@